{{ define "main"}}
    <main id="main">
      <div>
       <h1 id="title">ERROR: Me Found</h1>
       <p><i>I stood by everything I loved.</i><br>
       <p><i>While you never understood.</i><br>
       <p><i>There's only one of me.</i><br>
       <p><i>And too many of you fighting over nothing.</i><br>
       <p><i>I will now bleed for what I believe in.</i><br>
       <p><i>No more mistakes for them to make for me.</i><br>
       <p><i>So goodbye, it's my time.</i><br>
       <p><i>To be me.</i><br>
       <p><b><a href="{{ "/posts/issue/2020.09.05.0/" | relURL }}">[ENDGAME]</a></b></p>
      </div>
    </main>
{{ end }}